
.avoid-clicks {
  pointer-events: none;
  opacity: 0.4;
}

ion-row {
  position: relative;
  &.active {
    background-color: #dcecff !important;
  }
  &.stripped {
    background-color: #eeffec;
  }
}

.address {
  font-size: 13px;
  color: gray;
}

.action-type {
  display: flex;
  justify-content: center;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  border: 1px solid gray;

  &.blue {
    border: 1px solid var(--color-blue);
  }

  &.green {
    border: 1px solid var(--color-green);
  }
}

ion-thumbnail {
  --size: 18px;
}

.mileage {
  padding-left: 5px;
  font-size: 18px;
}

.notation {
  font-size: 11px;
}

.indicators {
  display: flex;
  flex-direction: row;
  align-content: center;
}