<ion-grid *ngIf="carActionHistory.length > 0" no-padding [ngClass]="{'avoid-clicks': loadingPath === true}">
  <ion-row justify-content-center align-items-center *ngFor="let hItem of carActionHistory" class="border-bottom"
    [ngClass]="{ 'active': hItem.ID === activeCarActionId, 'stripped': hItem.motion === '' }" (click)="buildRoute(hItem)">
    <ion-col size="2" text-center>{{ hItem.timeStart | date:"HH:mm" }}</ion-col>
    <ion-col size="2" class="action-type">
      <div class="circle blue" *ngIf="hItem.motion === 'P'">
        <img src="assets/img/parking.svg" width="16" height="16">
      </div>
      <div class="circle green" *ngIf="hItem.motion === ''">
        <img src="assets/img/delivery.svg" width="16" height="16">
      </div>
    </ion-col>
    <ion-col size="8" class="fs-14">
      <ng-container>
        <ion-grid no-padding *ngIf="hItem.motion === ''">
          <ion-row>
            <ion-col size="6" no-padding>
              <img src="assets/img/time.svg" width="16" height="16">
              <span *ngIf="driveTimeHours(hItem.time2) > 0" class="mileage">{{driveTimeHours(hItem.time2)}} <span class="notation">ч.</span></span>
              <span class="mileage">{{driveTimeMinutes(hItem.time2)}}</span><span class="notation">мин.</span>
              <!-- <span class="mileage">driveTime(hItem.time2)</span> -->
            </ion-col>
            <ion-col size="6" no-padding>
              <img src="assets/img/distance1.svg" width="16" height="16">
              <span class="mileage" *ngIf="hItem.mileage">{{ hItem.mileage.toFixed(2) }}<span class="notation">км.</span></span>
            </ion-col>
            <!-- <ion-col size="4" no-padding></ion-col> -->
          </ion-row>
        </ion-grid>
        <div *ngIf="hItem.motion === 'P'">
          <div class="address">{{ hItem.addressStart }}</div>
        </div>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>