<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Слежение</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <div style="display: flex; height: 100%; flex-direction: column;" *ngIf="carInfo">
    <div id="map_canvas">
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="followCar()" color="white">
          <ion-icon name="locate" [color]="isFollowCar ? 'primary' : 'medium'" size="small"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <ion-item *ngIf="carName" lines="none" class="border-bottom">
      <ion-icon slot="start" name="car" class="icon-car"></ion-icon>
      <ion-label>
        {{ carName }}
        <p>{{carInfo.address}}</p>
      </ion-label>
    </ion-item>

    <div style="overflow: scroll;">
      <ion-segment [(ngModel)]="segmentSpecification" class="border-bottom">
        <ion-segment-button value="info" class="segment">
          <ion-label text-uppercase>Инфо</ion-label>
        </ion-segment-button>
        <ion-segment-button value="history" class="segment">
          <ion-label text-uppercase>История</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="segmentSpecification">
        <div *ngSwitchCase="'info'">
          <ion-list no-padding>
            <ion-button expand="full" color="medium" *ngIf="carInfo.other" (click)="toggleSection('other')" no-margin>
              ДРУГОЕ
              <ion-icon slot="end" name="arrow-dropdown" *ngIf="!carInfo.other.open"></ion-icon>
              <ion-icon slot="end" name="arrow-dropup" *ngIf="carInfo.other.open"></ion-icon>
            </ion-button>
            <ion-list *ngIf="carInfo.other && carInfo.other.open" no-padding style=" transition: 0.2s linear;">
              <ion-item *ngFor="let item of (carInfo.other | keyvalue)" lines="none" class="border-bottom fs-14">
                <ion-label text-wrap color="primary">
                  {{ item.key }}
                </ion-label>
                <ion-label text-wrap text-right>
                  {{ item.value }}
                </ion-label>
              </ion-item>
            </ion-list>
            <app-sensor-indicator [indicatorName]="'Пробег (текущий день)'" [indicatorValue]="carInfo.mileage"></app-sensor-indicator>
            <app-sensor-indicator [indicatorName]="'Уровень топлива'" [indicatorValue]="carInfo.fuelLevel"></app-sensor-indicator>
            <app-sensor-indicator [indicatorName]="'Расход топлива'" [indicatorValue]="carInfo.fuelConsumption"></app-sensor-indicator>
            <!-- <app-sensor-indicator [indicatorName]="'DUT1'" [indicatorValue]="carInfo.DUT1"></app-sensor-indicator>
            <app-sensor-indicator [indicatorName]="'DUT2'" [indicatorValue]="carInfo.DUT2"></app-sensor-indicator>
            <app-sensor-indicator [indicatorName]="'DUT3'" [indicatorValue]="carInfo.DUT3"></app-sensor-indicator> -->
            <app-sensor-indicator [indicatorName]="'Скорость'" [indicatorValue]="carInfo.speed"></app-sensor-indicator>
            <app-sensor-indicator [indicatorName]="'Широта'" [indicatorValue]="carInfo.latitude"></app-sensor-indicator>
            <app-sensor-indicator [indicatorName]="'Долгота'" [indicatorValue]="carInfo.longitude"></app-sensor-indicator>
            <app-sensor-indicator [indicatorName]="'Время обновления'" [indicatorValue]="carInfo.time"></app-sensor-indicator>
          </ion-list>
        </div>

        <div *ngSwitchCase="'history'">
          <div (click)="selectDate()" class=" history-date border-bottom" text-center>
            <ion-icon name="calendar" padding-right></ion-icon>
            {{ currentDate | date }}
          </div>
          <app-total-history *ngIf="carMotionTotals" [carMotionTotals]="carMotionTotals"></app-total-history>
          <app-car-action-history *ngIf="carMotionParts.length > 0" [carActionHistory]="carMotionParts" [loadingPath]="loadingPath"
            [activeCarActionId]="activeCarActionId" (onBuildRoute)="buildRoute($event)">
          </app-car-action-history>
          <div padding text-center *ngIf="carMotionParts.length === 0 && !loadingHistory">
            <ion-text color="medium">
              Данных на этот день нет.
            </ion-text>
          </div>
          <div padding text-center *ngIf="loadingHistory">
            <ion-spinner color="medium"></ion-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>