<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Слежение</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refreshDataClick()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  <a class="sourcecode" href="https://github.com/mapsplugin/ionic-googlemaps-quickdemo-v4/blob/master/src/app/marker/marker.page.ts" target="_blank">[source code]</a>
  <p>Click on markers!</p>
  <div id="map_canvas"></div>
</ion-content> -->

<ion-content scrollY="false">
  <div style="display: flex; height: 100%; flex-direction: column;" *ngIf="carInfo">
    <div id="map_canvas"></div>

    <ion-item *ngIf="carName" lines="none" class="border-bottom">
      <ion-icon slot="start" name="car" class="icon-car"></ion-icon>
      <ion-label>
        {{ carName }}
      </ion-label>
    </ion-item>

    <div style="overflow: scroll;">
      <ion-segment [(ngModel)]="segmentSpecification" class="border-bottom">
        <ion-segment-button value="info" class="segment">
          <ion-label text-uppercase>Инфо</ion-label>
        </ion-segment-button>
        <ion-segment-button value="history" class="segment">
          <ion-label text-uppercase>История</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="segmentSpecification">
        <div *ngSwitchCase="'info'">
          <ion-list no-padding>
            <ion-button expand="full" color="medium" *ngIf="carInfo.other" (click)="toggleSection('other')" no-margin>
              ДРУГОЕ
              <ion-icon slot="end" name="arrow-dropdown" *ngIf="!carInfo.other.open"></ion-icon>
              <ion-icon slot="end" name="arrow-dropup" *ngIf="carInfo.other.open"></ion-icon>
            </ion-button>
            <ion-list *ngIf="carInfo.other && carInfo.other.open" no-padding style=" transition: 0.2s linear;">
              <ion-item *ngFor="let item of (carInfo.other | keyvalue)" lines="none" class="border-bottom fs-14">
                <ion-label text-wrap color="primary">
                  {{ item.key }}
                </ion-label>
                <ion-label text-wrap text-right>
                  {{ item.value }}
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                Пробег (текущий день)
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.mileage }}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                DUT1
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.DUT1 }}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                DUT2
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.DUT2 }}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                DUT3
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.DUT3 }}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                Скорость
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.speed }}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                Широта
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.latitude }}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                Долгота
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.longitude }}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="border-bottom fs-14">
              <ion-label text-wrap color="primary">
                Время обновления
              </ion-label>
              <ion-label text-wrap text-right>
                {{ carInfo.time }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

        <div *ngSwitchCase="'history'">
          <!-- <ion-slides class="border-bottom" [options]="slidesOpts">
            <ion-slide *ngFor="let day of daysOfYear">
              <span>{{ day }}</span>
            </ion-slide>
          </ion-slides> -->

          <!-- <ion-segment
            [(ngModel)]="segmentHistory"
            scrollable
            class="border-bottom fs-14"
          >
            <ion-segment-button>
              <ion-label>home</ion-label>
            </ion-segment-button>
            <ion-segment-button checked>
              <ion-label>heart</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>pin</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>star</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>call</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>globe</ion-label>
            </ion-segment-button>
            <ion-segment-button value="basket">
              <ion-label>basket</ion-label>
            </ion-segment-button>
          </ion-segment> -->
          <!-- <div [ngSwitch]="segmentHistory">
            <div *ngSwitchCase="'basket'">
              <ion-grid *ngIf="carHistory" no-padding>
                <ion-row
                  justify-content-center
                  align-items-center
                  *ngFor="let hItem of carHistory"
                  class="border-bottom"
                  [ngClass]="{ highlight: hItem.status === 'moving' }"
                >
                  <ion-col size="2" text-center>{{ hItem.startTime }}</ion-col>
                  <ion-col size="2">
                    <ion-chip
                      *ngIf="hItem.status === 'parking'"
                      style="    background-color: steelblue;
                    color: white;"
                      >P</ion-chip
                    >
                    <ion-chip *ngIf="hItem.status === 'fuel'">F</ion-chip>
                    <ion-chip
                      *ngIf="hItem.status === 'moving'"
                      style="background-color: seagreen"
                    >
                      <ion-icon
                        name="arrow-forward"
                        no-margin
                        color="light"
                      ></ion-icon>
                    </ion-chip>
                  </ion-col>
                  <ion-col size="8" class="fs-14">
                    <ng-container [ngSwitch]="hItem.status">
                      <div *ngSwitchCase="'parking'">
                        {{ hItem.currentLocation }}
                      </div>
                      <div *ngSwitchCase="'fuel'">
                        <div>{{ hItem.volume }}</div>
                        <div>{{ hItem.currentLocation }}</div>
                      </div>
                      <div *ngSwitchCase="'moving'" style="display: flex">
                        <div>{{ hItem.travelTime }}</div>
                        <div>{{ hItem.totalPath }}</div>
                        <div>{{ hItem.averageSpeed }}</div>
                      </div>
                    </ng-container>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</ion-content>