$white-color: #fff;
$height100: 100%;

ion-grid {
    width: 100%;
    height: $height100;
}

ion-row {
    height: $height100;
}

ion-img {
    padding: 20px 40px 10px 40px;
    margin: 0 20px;
}

ion-button {
    font-weight: 300;

    ion-text {
        font-weight: bold;
    }
}