.car-info {
  font-size: 14px;
  padding: 3px 0;
}
.icon-car {
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
}
ion-list {
  box-shadow: 0 6px 4px -4px #d8d8d8;
  ion-item:last-child {
    --border-width: 0;
    --inner-border-width: 0;
  }
}
ion-content {
  --background: #F2F2F2;
}
ion-searchbar {
  background-color: white;
}