<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Объекты
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="carsFilter.name" placeholder="Поиск"></ion-searchbar>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-list no-padding *ngIf="cars.length > 0">
    <ion-item *ngFor="let item of cars | filterBy: carsFilter" (click)="navigate(item)" routerDirection="forward" class="ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" name="car" class="icon-car"></ion-icon>
      <ion-label>
        {{item.name}}
        <!-- <div class="car-info">

          <ion-icon name="play"></ion-icon>
          {{item.startTime}}
          <ion-icon name="timer"></ion-icon>
          {{item.travelTime}}
          <ion-icon name="trending-up"></ion-icon>
          {{item.totalPath}}км
        </div> -->
        <p>{{item.address}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(cars | filterBy: carsFilter).length === 0">
      Нет подходящих элементов
    </ion-item>
  </ion-list>
</ion-content>